<div class="large_screen">
  <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <%= link_to root_path do %>
              <li class="logo_small"><%= image_tag "logo02.png" %></li>
              <% end %>
              <li><h1><%= link_to "Work", work_index_path %></h1></li>
              <li><h1><%= link_to "Advertising", work_advertising_path %></h1></li>
              <li><h1><%= link_to "Branding", work_branding_path %></h1></li>
              <li><h1><%= link_to "Business Cards", work_businesscard_path %></h1></li>
              <li><h1><%= link_to "Identity", work_identity_path %></h1></li>
              <li><h1><%= link_to "Photography", work_photography_path %></h1></li>
              <li><h1><%= link_to "Website", work_website_path %></h1></li>
              <li><h1><%= link_to "Contact", contact_index_path %></h1></li>
              <li>
                <% if user_signed_in? %>
                  <%= link_to "New Post", new_post_path %>
                <%end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          </div>
          </div>
      </div>
</div>

<div class="small">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><%= image_tag "logo01.png" %></a>
    <ul class="navbar_links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Work", work_index_path %></li>
      <li><%= link_to "Advertising", work_advertising_path %></li>
      <li><%= link_to "Branding", work_branding_path %></li>
      <li><%= link_to "Business Cards", work_businesscard_path %></li>
      <li><%= link_to "Identity", work_identity_path %></li>
      <li><%= link_to "Photography", work_photography_path %></li>
      <li><%= link_to "Website", work_website_path %></li>
      <li><%= link_to "Contact", contact_index_path %></li>
      <li><% if user_signed_in? %>
        <%= link_to "New Post", new_post_path %>
      <%end %></li>
    </ul>
  </div>
</div>

<!-- Use any element to open the sidenav -->
<div class="small">
  <span onclick="openNav()"><div class="open">&times;</div></span>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
