<div id="main">
  <div class="page_wrapper">
    <div class="row">
      <div class="col-md-10">
        <h1 class="quote">your brand is what other people say about you <span style="color:#fea680;">when you are not in the room</span></h1>
      </div>
    </div>

    <div>
      <h1 class="define_intro">What we do</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= image_tag("branding.jpg", class: "img-responsive") %>
        <h1 class="define">Branding</h1>
      </div>
      <div class="col-md-6">
        <%= image_tag("website.jpg", class: "img-responsive") %>
        <h1 class="define">Website</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("business_card.jpg", class: "img-responsive") %>
        <h1 class="define">Business Cards</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("photography.jpg", class: "img-responsive") %>
        <h1 class="define">Photography</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("identity.jpg", class: "img-responsive") %>
        <h1 class="define">Identity</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("advertising.jpg", class: "img-responsive") %>
        <h1 class="define">Advertising</h1>
      </div>
    </div>


    <!-- <div class="bg navbar-fixed-bottom">
      <div class="row">
        <div class="col-md-6">
          <h1 class="action_quote">Don't follow the herd have something to say with <span style="color:#01abaa;">Glass Beard Designs</span></h1>
        </div>
        <div class="col-md-3 fourth">
          <h1 class="fourth_quote">Website Design</h1>
          <p>We will work with your team to put together an amazing brand to showcase to the world.</p>
        </div>
        <div class="col-md-3 fourth">
          <h1 class="fourth_quote">Branding Identity</h1>
          <p>We know your company is one of pride and hard-work, so let our team get it to the next level.</p>
        </div>
        <div class="col-md-3 fourth">
          <h1 class="fourth_quote">Marketing</h1>
          <p>We have years of training and extensive experience to get your team in front of the right people.</p>
        </div>
        <div class="col-md-3 fourth">
          <h1 class="fourth_quote">Customer Service</h1>
          <p>Creating a business is hard enough, so let us take care of everything 24/7 no questions asked.</p>
        </div>
      </div>
    </div>

</div> -->
<!-- End of Main -->

</div>
