<div id="main">
  <div class="page_wrapper">
    <div class="row">
      <div class="col-md-10">
        <h1 class="quote">your brand is what other people say about you <span style="color:#fea680;">when you are not in the room</span></h1>
      </div>
    </div>

    <div>
      <h1 class="define_intro"><%= link_to "What we do", work_index_path %></h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= link_to image_tag("branding.jpg", class: "img-responsive hover_img"), root_path %>
        <h1 class="define">Branding</h1>
      </div>
      <div class="col-md-6">
        <%= image_tag("website.jpg", class: "img-responsive hover_img") %>
        <h1 class="define">Website</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("business_card.jpg", class: "img-responsive hover_img") %>
        <h1 class="define">Business Cards</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("photography.jpg", class: "img-responsive hover_img") %>
        <h1 class="define">Photography</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("identity.jpg", class: "img-responsive hover_img") %>
        <h1 class="define">Identity</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("advertising.jpg", class: "img-responsive hover_img") %>
        <h1 class="define">Advertising</h1>
      </div>
    </div>

</div>
</div>
