<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Study Breaks Magazine</h1>
        <h6><strong>Who:</strong><br>
Study Breaks is written and photographed exclusively by college students from across the country. The website is an online forum for writers to talk about everything from specific, college-related issues like campus carry and trigger warnings, to pop pieces like album reviews and op-eds about Donald Trump.<br><br>

<strong>What:</strong><br>
In addition to the website, Study Breaks is also a print magazine circulated on twelve campuses in four cities throughout Texas. While still produced entirely by students, the magazine focuses more on features, interviews and profiles rather than opinion pieces. Though published in Texas, the content still centers around the national college experience.<br><br>

<strong>Why:</strong><br>
Study Breaks was born out of a desire to provide talented student writers with a medium to publish their work, but has since expanded its goal to empowering college students of all backgrounds. Whether it’s by publishing their writing and photography, or by providing them with exposure in interviews and features, Study Breaks is designed to highlight remarkable students across the country.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_02.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_03.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_04.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_05.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-6">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_06.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_07.jpg", class: "img-responsive work" %>
      </div>


      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_08.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_09.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_10.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/magazinepage_11.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_branding_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
