<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/shweikipage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Shweiki Media Co.</h1>
        <h6>A printing company straight out of our own San Antonio, TX Shweiki Media has become a staple of amazing style and stablilty to the community they inhabitat. With an owner that was raised in the San Antonio cultural we needed to give them a style all their own to stand out from the corporate competitors.<br> With this knowledge in mind we wanted to give them a mix of old school printing press with the sleek sophistication of a top-tier printing press that can handle the multi-million dollar job, but has the hometown feel of your local hometown printer. It was a hard combination things to combine, but when we finished it gave them a style all their on for years to come.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_02.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_03.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_04.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_05.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_06.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_website_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
