<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/shweikipage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Shweiki Media Co.</h1>
        <h6>Bacon ipsum dolor amet alcatra pork belly pork chop salami chuck meatloaf spare ribs chicken beef ribs rump. Short ribs filet mignon flank alcatra pastrami pancetta. Pork chop sausage cow beef turducken spare ribs meatloaf leberkas drumstick chicken jowl sirloin kielbasa porchetta. Tri-tip chuck meatball pastrami. Drumstick cupim pork belly, shankle shank kielbasa andouille turducken ham frankfurter.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_02.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_03.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_04.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_05.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/brandingpage_06.jpg", class: "img-responsive work" %>
      </div>

    </div>
  </div>
</div>
