<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/logopage_01.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Logo Design</h1>
        <h6>Creating a brand identity starts with the logo. When starting a business you need a symbol to represent the feeling the company will own for its lifetime. A logo is not everything to a brand, but it a key priority for a company to spend time developing. When looking to start a company plan time to create a brand from how you will be seen by your audience and how you will want to be perceived from the age of the audience to the type of person who will benefit from your ideas.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/logopage_08.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/logopage_12.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/logopage_13.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/logopage14.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_identity_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
