  <div class="container">
    <div id="main">
      <div class="page_wrapper">

        <div class="col-md-6 img-increase">
          <%= image_tag "https://s3.amazonaws.com/glassbeard/identitypage_001.jpg", class: "img-responsive", id: "img-increase" %>
        </div>
        <div class="col-md-6">
          <h1 class="work_header">Wildcard Media Co.</h1>
          <h6>Media companies start everyday and to stand out you have to set yourself apart. We created Wildcard Media for a group of entrepreneurs out of Texas State University. These recent college graduates were seeking to start a media company to create small business into national brands with their marketing skills. They wanted to show that a small brand can compete with a national brand if they are branding and marketed in the right way. When the idea is good enough any comapny can compete in the marketplace they just need to be heard.</h6>
        </div>

        <div class="col-md-12">
          <%= image_tag "https://s3.amazonaws.com/glassbeard/identitypage_01.jpg", class: "img-responsive work" %>
        </div>

        <div class="col-md-6">
          <%= image_tag "https://s3.amazonaws.com/glassbeard/identitypage_02.jpg", class: "img-responsive work" %>
        </div>
        <div class="col-md-6">
          <%= image_tag "https://s3.amazonaws.com/glassbeard/identitypage_03.jpg", class: "img-responsive work" %>
        </div>


        <div class="col-md-12">
          <%= image_tag "https://s3.amazonaws.com/glassbeard/identitypage_08.jpg", class: "img-responsive work" %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h1><%= link_to "Continue", work_advertising_path, class: "pull-right next" %></h1>
          </div>
        </div>

      </div>
    </div>
  </div>
