<div class="container">
  <div id="main">
    <div class="page_wrapper">

      <div class="col-md-6 img-increase">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/portrait.jpg", class: "img-responsive", id: "img-increase" %>
      </div>
      <div class="col-md-6">
        <h1 class="work_header">Photography</h1>
        <h6>As we grow insize we continue to expand out range of creativity and talents. We mostly do portrait photography for our clients including this portrait of Bobby Britton from House of Kenzo music group. <br> Glassbeard Media loves to explore new venues and opportunities when it comes to photography with our branding photography to product placement for our clients. People seem to keep coming back to us for one reason and that is our ability to give our clients a higher level of sophistication.</h6>
      </div>

      <div class="col-md-12">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_08.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_03.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_04.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_05.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-6">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_06.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_07.jpg", class: "img-responsive work" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_09.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_10.jpg", class: "img-responsive work" %>
      </div>
      <div class="col-md-4">
        <%= image_tag "https://s3.amazonaws.com/glassbeard/photographypage_11.jpg", class: "img-responsive work" %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "Continue", work_website_path, class: "pull-right next" %></h1>
        </div>
      </div>

    </div>
  </div>
</div>
