<div id="main">
  <div class="page_wrapper">
    <div class="container">
      <%= form_for @post, html:{ multipart: true } do |f| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
            <h1 class="form_header"><%= f.label :title %></h1>
            <%= f.text_field :title, class: "form_box" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :excerpt %></h1>
          <%= f.text_field :excerpt, class: "form_box" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :body %></h1>
          <%= f.text_area :body, class: "form_box form_box_body" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :author %></h1>
          <%= f.text_field :author, class: "form_box" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :date %></h1>
          <%= f.datetime_select :date, class: "form_date" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :image %></h1>
          <%= f.file_field :image, class: "form_image" %>
        </div>

        <div class="field">
          <h1 class="form_header"><%= f.label :category %></h1>
          <%= select_tag(:category_id, options_for_select(@categories)) %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
